<footer class="site-footer">
    <div class="content">
        <div class="icons">
            <div class="facebook">
               <a href="#">
                   <span>Facebook</span>
                   <i class="fab fa-facebook"></i>
               </a>
            </div>
            <div class="twitter">
                <a href="#">
                    <span>Twitter</span>
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="gmail">
                <a href="#">
                    <span>Gmail</span>
                    <i class="fas fa-envelope"></i>
                </a>
            </div>

        </div>
        <div class="text">
            <p>Made by Ivaylo Dimitrov</p>
            <span>All Rights Reserved!</span>
        </div>
    </div>
</footer>