.site-header p{
    margin: 0;
    color: #000000;
    text-shadow: 5px -3px 13px rgba(26, 164, 20, 0.63);
    -webkit-transition: all 0.5s;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}
.site-header p:hover {
    color: #fff;
    text-shadow: 0 0 0 rgba(255,255,255,0.3), 0 0 0 rgba(255,255,255,0.3), 0 0 0 rgba(255,255,255,0.1), 0 0 0 rgba(255,255,255,0.1), 0 0 5px rgba(0,0,0,0.5);
}



